doctype html
html
  head
    title= "Help at Home"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/lib/jquery-2.1.0.js')
    script(type='text/javascript', src='/javascripts/api.js')
    script(type='text/javascript', src='/javascripts/executor.js')
  body(onload='startOver();')
     Total number of tasks executed = 
     #taskId Task Id

