<!DOCTYPE html>
<meta charset="utf-8">

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/javascript/status/progress.css">
  </head>

  <body>
    <script src="/javascript/status/lib/jquery-2.1.0.js" />
    <script src="/javascript/status/lib/d3.v3.min.js"></script>
    <script src="/javascript/status/tasks_poller.js"></script>

    <script src="/javascript/status/job-map.js"></script>
    <script src="/javascript/status/job-progress.js"></script>

    <script id="job-visualization-handlers">
      jobHandlers = {
        dataUpdate: function(tasksStatus, addedTaskIds, deletedTaskIds) {
          console.write('Woow, we got new data ' + tasksStatus +  ' -- ' + addedTaskIds + ' -- ' + deletedTaskIds);
          //jobMap(jsonData);
        },
        taskAdded: function(tasksStatus, addedTaskIds) {
          console.write('Woow, we got new data ' + tasksStatus +  ' -- ' + addedTaskIds);

        },
        taskDeleted: function(tasksStatus, deletedTaskIds) {
          console.write('Woow, we got new data ' + tasksStatus +  ' -- ' + deletedTaskIds);
        }
      };
    </script>

<!--
    <button type="button" onclick="jobMap()">Job Map</button>
    <button type="button" onclick="jobProgress()">Job Progress</button>
-->
    <input type="button" value="Start Polling" onclick="startTimer()"/>

    <input type="button" value="Stop Polling" onclick="abortTimer()"/>

    <div class="container">

      <div class="job-map">
        <h2>Job Map</h2>
      </div>

      <div class="job-progress">
        <h2>Job Progress</h2>
      </div>

      <div class="task-progress">
        <h2>Task Progress</h2>
      </div>

    </div>

  </body>
</html>