.progress-meter .background {
  fill: #ccc;
}
.progress-meter .foreground {
  fill: #000;
}
.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text {
  font-size: 11px;
}
path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.container {

}

.job-map {
  float: left;
}

.job-progress {
  float: left;
}

.task-progress {
  float: left;
}
